{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <script type="text/javascript" src="/assets/js/jobs.js"></script>
    <style type="text/css">
      #fig {
        width: 860px;
        height: 580px;
      }
      input {
        font: 24pt helvetica neue;
        background: none;
        border: none;
        outline: 0;
      }
    </style>
    <p>
        Categories over time as percentages of total purchase orders.<br/>
        Colored by region. X-axis shows months beginning with Jan 2005.
    </p>
    <div id="center"><div id="fig">
    <div style="text-align:right;padding-right:20;">
      Show: <select id="region" onchange="update()">
        <option value=0 selected>All regions</option>
        <option value="ROSA">ROSA</option>
        <option value="CEE/CIS">CEE/CIS</option>
        <option value="MENA">MENA</option>
        <option value="ESARO">ESARO</option>
        <option value="TACRO">TACRO</option>
        <option value="EAPRO">EAPRO</option>
        <option value="HQ">HQ</option>
        <option value="WCARO">WCARO</option>
      </select>
    </div>
    <script type="text/javascript+protovis">
      var region = 0;

      /* Flatten the tree into an array to faciliate transformation. */
      var jobs = pv.flatten(jobs)
          .key("category")
          .key("region")
          .key("year", function(i) years[i])
          .key("pos")
          .array();

      /*
       * Use per-month sums to normalize the data, so we can compute a
       * percentage. Use per-region+category sums to determine a saturation encoding.
       */
      var sumByYear = pv.nest(jobs)
          .key(function(d) d.year)
          .rollup(function(v) pv.sum(v, function(d) d.pos)),
        sumByCat = pv.nest(jobs)
          .key(function(d) d.region + d.category)
          .rollup(function(v) pv.sum(v, function(d) d.pos));

      /* Cache the percentage of pos per month. */
      jobs.forEach(function(d) d.percent = 100 * d.pos / sumByYear[d.year]);

      /* Sizing parameters and scales. */
      var w = 800,
          h = 480,
          x = pv.Scale.linear(1, 48).range(0, w),
          y = pv.Scale.linear(0, 100).range(0, h),
          color = pv.Colors.category10(),
          alpha = pv.Scale.linear(pv.values(sumByCat)).range(.4, .8);

      /* The root panel. */
      var vis = new pv.Panel()
          .width(w)
          .height(h)
          .top(9.5)
          .left(39.5)
          .right(20)
          .bottom(30);

      /* A background bar to reset the search query.  */
      vis.add(pv.Bar)
          .fillStyle("white")
          .event("click", function() search(""))
          .cursor("pointer");

      /* Y-axis ticks and labels. */
      vis.add(pv.Rule)
          .data(function() y.ticks())
          .bottom(y)
          .strokeStyle(function(y) y ? "#ccc" : "#000")
        .anchor("left").add(pv.Label)
          .text(function(d) y.tickFormat(d) + "%");

      /* A stacked area graph. */
      var area = vis.add(pv.Panel)
          .data(pv.nest(jobs)
              .key(function(d) d.region + d.category)
              .sortKeys(function(b, a) pv.reverseOrder(a.substring(1), b.substring(1)))
              .entries())
          .visible(function(d) test(d.values[0]))
        .add(pv.Area)
          .def("alpha", function(d) alpha(sumByCat[d.key]))
          .data(function(d) d.values)
          .left(function(d) x(d.year))
          .bottom(pv.Layout.stack())
          .height(function(d) y(d.percent))
          .fillStyle(function(d) color(d.region).alpha(this.alpha()))
          .event("mouseover", function(d) this.alpha(1).title(d.category + " " + d.region))
          .event("mouseout", function(d) this.alpha(undefined))
          .event("click", function(d) search("^" + d.category + "$"))
          .cursor("pointer")
        .parent;

      /* The label's datum is the biggest span in the corresponding area. */
      vis.add(pv.Panel).extend(area)
        .add(pv.Label)
          .data(function(d) [area.scene[this.parent.index].children[0]
              [pv.max.index(d.values, function(d) d.pos)]])
          .visible(function(c) c.height > 1)
          .left(function(c) c.left)
          .bottom(function(c) c.bottom + c.height / 2)
          .textBaseline("middle")
          .textAlign(function(c) (c.right < 100) ? "right"
              : ((c.left < 100) ? "left" : "center"))
          .textStyle(function(c) "rgba(0, 0, 0, " + (Math.sqrt(c.height) / 7) + ")")
          .font(function(c) Math.round(5 + Math.sqrt(c.height)) + "px sans-serif")
          .text(function(c, category) category.key);

      /* X-axis ticks and labels. */
      vis.add(pv.Rule)
          .data(pv.range(1, 48, 1))
          .left(x)
          .bottom(-6)
          .height(5)
        .anchor("bottom").add(pv.Label);

      /* Update the query regular expression when text is entered. */
      function search(text) {
        if (text != re) {
          if (query.value != text) {
            query.value = text;
            query.focus();
          }
          re = new RegExp(text, "i");
          update();
        }
      }

      /* Tests to see whether the specified datum matches the current filters. */
      var re = "";
      function test(d) {
        return (!Number(region.value) || (region.value == d.region))
            && d.category.match(re);
      }

      /* Recompute the y-scale domain based on query filtering. */
      function update() {
        y.domain(0, Math.min(100, pv.max(pv.values(pv.nest(jobs.filter(test))
            .key(function(d) d.year)
            .rollup(function(v) pv.sum(v, function(d) d.percent))))));
        vis.render();
      }

      vis.render();

    </script>
    <div>
      <label for="query">search: </label>
      <input id="query" type="text" onkeyup="search(this.value);">
    </div>

{% endblock %}
